/config.log
/config.status
/configure
/autom4te.cache/
/aclocal.m4
/Makefile
/.done
/.tarball-version

*.orig
*.swp
*~
\#*#
.\#*

logfile

/bin/*
!/bin/ptxdist
!/bin/ptxdist-auto-version

/Documentation/
man/ptxdist.1.gz
/doc/.tox/
/doc/testbuilds/
/env/
